body{
    font-size: 20px;
}

.table {
    display: flex;
    flex-direction: row;
    margin: 0 35% 0 35%;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.options-container{
    background: #FFF9E5;
    border: 1px solid #FFCC02;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}