<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="_static/css/style.css">
        <script src="_static/js/main.js"></script>
        <title>install</title>
    </head>
    <body>
        <div class="table">
            <div class="options-container">
                <div class="os_option">
                    <button class="tab-title-os" data-os-type="windows">Windows</button>
                </div>
                <div class="os_option">
                    <button class="tab-title-os" data-os-type="mac">macOS</button>
                </div>
                <div class="os_option">
                    <button class="tab-title-os" data-os-type="linux">Linux</button>
                </div>
            </div>
            
            <div class="options-container">
                <div class="lang_option" >
                    <button class="tab-title-lang" data-lang-type="js">Javascript</button>
                </div>
                <div class="lang_option" >
                    <button class="tab-title-lang" data-lang-type="java">Java</button>
                </div>
                <div class="lang_option" >
                    <button class="tab-title-lang" data-lang-type="ruby">Ruby</button>
                </div>
            </div>
            <div class="options-container">
                <div class="ide_option" >
                    <button class="tab-title-ide" data-ide-type="vscode">VsCode</button>                        
                </div>
                <div class="ide_option" >
                    <button class="tab-title-ide" data-ide-type="intellij">Intellij</button>
                </div>
                <div class="ide_option" >
                    <button class="tab-title-ide" data-ide-type="vs">Visual Studio</button>
                </div>
            </div>
        </div>
        <!-- <div id="selected-details">
            <div id="os-content">
                <div class="hidden" id="windows-content">
                  {% include '../../html/windows_content.html' %}
                </div>
                <div class="hidden" id="mac-content">
                  {% include '../../html/mac_content.html' %}
                </div>
                <div class="hidden" id="linux-content">
                  {% include '../../html/linux_content.html' %}
                </div>
            </div>
            <div id="lang-content">
                <div class="hidden" id="js-content">
                  {% include '../../html/js_content.html' %}
                </div>
                <div class="hidden" id="java-content">
                  {% include '../../html/java_content.html' %}
                </div>
                <div class="hidden" id="ruby-content">
                  {% include '../../html/ruby_content.html' %}
                </div>
            </div>
            <div id="ide-content">
                <div class="hidden" id="vscode-content">
                  {% include '../../html/vscode_content.html' %}
                </div>
                <div class="hidden" id="intellij-content">
                  {% include '../../html/intetllij_content.html' %}
                </div>
                <div class="hidden" id="vs-content">
                  {% include '../../html/vs_content.html' %}                  
                </div>
            </div>
        </div> -->
    </body>
</html>
